$header-primary-color: #444;
$header-secondary-color: #fff;

$coding-primary-color: #1e1e1e;
$coding-secondary-color: rgb(43, 87, 25);

$coding-variable: #4571a1;
$coding-keyword: #8a6ca1;
$coding-string: #869f39;
$coding-object: #caae41;
$coding-background: #1e1e1e;
$coding-border: #505050;
$coding-equals: #606060;
$coding-console: #bb4146;
$coding-function: #cb6502;

$gaming-primary-color: #fff;
$gaming-secondary-color: #EE8922;
 
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
}

h1{
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    font-weight:10;
}

// 'Coding', 'Gaming Events'
h2 {
    margin: 0;
    padding: 20px 0px 0px 0px;
    // text-indent: 50px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 10;
    font-size: 30px;
}

// 'About [section]' and 'My Projects' titles
h3 {
    margin: 0;
    padding: 0px
}
 
.title-bar {
    height: 50px;
    width: 100%;
    position: fixed;
    background: $header-primary-color;
    color: $header-secondary-color;
    box-shadow: 0px 5px 10px rgb(26, 26, 26);
    // 'Douglas Hellowell'
    h1 {
        margin: 0;
        justify-content: center;
        text-align: center;
        padding: 5px;
    }
};

.underbannerpadding {
    height: 50px
}

.topic-header-wrapper {
    width: 94vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.coding-body {
    background-color: lighten($coding-primary-color,9);
    color: $coding-string;
    font-family:  'Roboto Mono', monospace;
   
    #codetest{
        color: white;
        padding-left: 5px;
        
    }
    #keyword{
        color: $coding-keyword;
    }
    #variable {
        color: $coding-variable;
    }
    #equals {
        color: $coding-equals;
    }
    #string{
        color: $coding-string;
    }
    #console{
        color: $coding-console;
    }
    #function {
        color: $coding-function;
    }

}

.ide-wrapper {
    border: $coding-equals 1px solid;
    border-radius: 5px;
    padding: 4px;
    background: $coding-primary-color;
    color: $coding-equals;
    display: flex;
}

.gaming-body {
    background-color: $gaming-secondary-color;
    color: $gaming-primary-color;
}

.projects-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-div{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 94vw;

}

.project-item {
    background-color: $coding-primary-color;
    // width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding:10px;
    // justify-content: center;
    img {
        width: 98%;
    }
}

.coding-project {
    border-top: $coding-string 5px solid;

}

.footbar{
        height: 50px;
        width: 100%;
        z-index: 4;
        // position: fixed;
        background: $header-primary-color;
        color: $header-secondary-color;
        box-shadow: 0px -2px 3px rgb(27, 27, 27);
        // 'Douglas Hellowell'
        h1 {
            margin: 0;
            justify-content: center;
            text-align: center;
            padding: 5px;
        }
}